<main>
    <section class="section-login">
        <div class="section-main">
            <div class="section-login-1">
                <div class="section-login-1-main">

                    <h1 class="section-login-1-title">Welcome</h1>
                    <p class="section-login-1-text">Enjoy friends with chats.</p>
                    <div class="section-login-1-img">
                        <img src="https://rvs-gradie-signup-page.vercel.app/Assets/iPhone-Mockup.png" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="section-login-2">
                <div class="section-login-2-main">
                    
                    <h1 class="section-login-2-title">Sign in</h1>
                    <form class="section-login-2-form"  [formGroup]="loginForm">
                        <div class="login-form-1">
                            <label for="input-email">Email</label>
                            <input type="text" id="input-email" required formControlName="Email">
                            <div *ngIf="loginForm.get('Email').invalid && loginForm.get('Email').touched" style="color: red;">
                                <div *ngIf="loginForm.get('Email').errors.required">Email is required.</div>
                                <div *ngIf="loginForm.get('Email').errors.pattern">Invalid email format.</div>
                            </div>
                        </div>
                        <div class="login-form-3">
                            <label for="input-password">Password</label>
                            <input type="password" id="input-password"  required formControlName="Password">
                            <div *ngIf="loginForm.get('Password').invalid && loginForm.get('Password').touched" style="color: red;">
                                <div *ngIf="loginForm.get('Password').errors.required">Password is required.</div>
                                <div *ngIf="loginForm.get('Password').errors.minlength"> Password must be grater than 6 digiets.</div>
                                <div *ngIf="loginForm.get('Password').errors.maxlength">
                                    Password is must be less than 10 digiets
                                </div>
                            </div>
                        </div>
                        <div class="login-form-submit-btn">
                            <button (click)="login(loginForm.value)">Sign in</button>
                        </div>
                        <div class="login-form-5">
                            <p>Already have an account? <a routerLink="register">Sign In</a></p>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </section>
</main>